@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at top right, rgba(99, 102, 241, 0.1), transparent 45%),
              radial-gradient(circle at bottom left, rgba(168, 85, 247, 0.1), transparent 45%),
              #09090b;
}

h1, h2, h3 {
  font-family: 'Outfit', sans-serif;
}
